{% extends 'base.html' %}

{% block content %}

<h1>Welcome to todo Application </h1>
<form action="/addtask/" method="POST">
	{% csrf_token %}
<input type="text" name="task">
<input type="submit" value="add" name="" class="btn btn-success">
</form>
<br>
{% for mytodo in mytodos %}
<p> <b>MY Task {{mytodo.id}}:</b> {{mytodo.task}}
<a href="/deletetask/{{mytodo.id}}" class="btn btn-danger" name="delete">Delete</a>
<a href="/edittask/{{mytodo.id}}" class="btn btn-primary" name="edittask">Edit</a>
</p>
{% endfor %}

{% endblock %}